body {
	font-family: "TwitterChirpExtendedHeavy", "Verdana", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	flex-direction: column;
}

	/*font-family: "TwitterChirpExtendedHeavy", "Verdana", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; */

.main {
	padding-left: 90px;
}
.section-2 {
	padding-left: 50px;
}
h1 {
	font-family: "TwitterChirpExtendedHeavy", serif;
	display: inline;
	font-size: 75px;
	min-width: 0;
	padding: 0;
	margin: 0;
	font-weight: 1000;

}
.custom-head{
    	box-sizing: border-box;
}
.custom-sect {
	font-size: 26px;
}

@media (max-width: 1000px) {
	.custom-image {
        	width: 75px;
        	height: auto;
      }
    }
@media (min-width: 1001px) {
      .custom-image {
        width: 450px;
        height: auto;
      }
    }
@media (max-width: 540px) {
	.custom-head {
        	font-size: 50px;
        	height: auto;
		box-sizing: none;
      }
    }
@media (max-width: 540px) {
	.main {
        	height: auto;
		padding-left: 0px;
      }
    }
form {
		position: relative;
}
.google {
	font-family: "Google Sans", arial, sans-serif;
	width: 300px;
	font-size: 14px;
	padding: 5px 0;
    	padding: 10px 0;
	margin-top: 5px;
}
.google:hover {
	background-color: rgba(240, 240, 240,0.4);
}
.apple {
	font-family: "Google Sans", arial, sans-serif;
	width: 300px;
	font-size: 14px;
	padding: 10px 0;
	margin-top: 5px;
}
.apple:hover {
	background-color: rgba(210, 210, 210,0.5);
}
.applepng {
	position: absolute;
	width: 37px;
	left: 59px;
    	top: 73px;
}
.googlepng {
	position: absolute;
	width: 16px;
    	left: 68px;
    	top: 21px;
}
.hrdivider {
  	position: relative;
  	margin-bottom: 17px;
  	width: 300px;
  	text-align: center;
	opacity: 0.7;
	margin-top: 19px;
}

.hrdivider p {
  	position: absolute;
  	top: -13px;
  	background: #fff;
  	padding: 0 4px;
  	font-size: 14px;
	left: 136px;
}
.create {
	font-family: "Google Sans", arial, sans-serif;
	width: 300px;
	font-size: 14px;
	padding: 5px 0;
    	padding: 10px 0;
	background-color: rgb(29, 155, 240);
	font-weight: bold;
}
.create:hover {
	background-color: rgb(29, 140, 240);
}
.caption1 {
	font-size: 11px;
	color: rgb(83, 100, 113);
	font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	margin-top: 5px;
}
.caption1 a {
	color: rgb(29, 155, 240);
	text-decoration: none;
	
}
.caption1 a:hover {
	text-decoration: underline;
}
.account {
	font-size: 14px;
	font-weight: bold;
	margin-top: 60px;
}
.sign {
	font-family: "Google Sans", arial, sans-serif;
	width: 300px;
	font-size: 15px;
	padding: 10px 0;
	margin-top: 5px;
	font-weight: bold;
	color: rgb(29, 155, 240);
}
.sign:hover {
	background-color: rgba(29, 155, 240,0.1);
	color: rgb(29, 155, 240);
}
.footer {
	text-align: center;
}
.footer a {
	font-size: small;
	text-decoration: none;
	padding: 0 5px;
}
.footer a:hover {
	text-decoration: underline;
}
.footer span {
	font-size: small;
	text-decoration: none;
	padding: 0 5px;
}